.logo {
  color: rgb(156, 192, 192);
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.navigation a {
  text-decoration: none;
  color: rgb(223, 236, 236);
  position: relative;
  font-size: 1.1rem;
  font-weight: 500;
  margin-left: 40px;
}

.btnlogin-popup {
  width: 130px;
  border-radius: 8px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  color: rgb(62, 137, 138);
  font-weight: 500;
  margin-left: 30px;
  font-weight: bold;
}

.btnlogin-popup:hover {
  transition: 0.2s;
  background-color: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /*transform: scale(0); /*hadi mnb3de khmilha if u should keep it or not*/
  transition: transform 0.5 ease height 0.2s ease;
  overflow: hidden;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
h2 {
  font-size: 2rem;
  color: black;
  text-align: center;
  font-family: "popins", sans serif;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
.login-register {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.logout-register {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: black;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2rem;
  color: black;
  line-height: 57px;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.rememeber-forgot {
  font-size: 0.9rem;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.rememeber-forgot p {
  color: transparent;
}
.rememeber-forgot label input {
  accent-color: black;
  margin-right: 3px;
}
.rememeber-forgot a {
  color: black;
  text-decoration: none;
}
.rememeber-forgot a:hover {
  text-decoration: underline;
  color: black;
}
.btn {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-family: "poppins", nonserif;
  font-weight: 500;
  color: black;
}
.login-register {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
.logout-register {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.logout-register p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.logout-register p a:hover {
  text-decoration: underline;
}
.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  font-size: 2rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  /*overflow: hidden;*/
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.form-box.login {
  /*display: none;*/
}
.wrapper .form-box.register {
  position: absolute;
  transform: translateX(400px);
  transition: none;
}
.wrapper.active {
  height: 520px;
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0px);
}
